<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WhyShouldIWatch</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/styles/site.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">WhyShouldIWatch</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/keystone/signin">Sign In</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="body">
      <div class="container">
        <h1>404</h1>
        <p class="lead">Sorry, the page you requested can't be found.</p>
      </div>
    </div>
    <div class="container">
      <div id="footer">
        <p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
      </div>
    </div>
    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
  </body>
</html>